@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action = "Create">
    id: <input type="text" name="id" /><br>
    Name: <input type="text" name="name" /><br>
    Price: <input type="text" name="price" />

    <input type="submit" value="Create Product"/>
</form>
